@using InternetBanking.Core.Application.Dtos.Account
@using InternetBanking.Core.Application.Helpers
@using Microsoft.AspNetCore.Http
@using InternetBanking.Core.Application.ViewModels.Recipient;
@model RecipientSaveViewModel
@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
}


<div class="row">

    <div class="row bg-light rounded p-3 mb-5">
        <form method="post" asp-controller="Recipient" asp-action="Index">
            <section class="w-100 d-flex justify-content-between gap-3 align-items-center px-5">
                <h3 class="fs-4 fw-bold fw-bolder m-2 w-100">
                    Dashboard
                    <span class="fs-5 fw-bold fw-bolder text-muted m-2 text-end w-100">
                        / Administración de usuarios
                    </span>
                </h3>
                <a asp-controller="Home" asp-action="DashboardClient" class="btn btn-secondary btn-sm">
                    Volver atras
                </a>
                <a asp-controller="Recipient" asp-action="Index" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar un beneficiario
                </a>
            </section>

        <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Beneficiario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Input-->
                            <label asp-for="RecipientCode" class="form-label">Inserte un numero de Cuenta</label>
                            <input asp-for="RecipientCode" type="text" class="form-control" />

                            <input type="hidden" asp-for="@Model.Id" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Añadir</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="col-8 mx-auto">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @if (ViewBag.Recipients == null || ViewBag.Recipients.Count == 0)
        {
            <h2>No existen ningun beneficiario</h2>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Beneficiario</th>
                        <th scope="col">Número de cuenta</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (RecipientViewModel item in ViewBag.Recipients)
                    {
                        <tr class="table-light">
                            <td>@item.OwnerAccount</td>
                            <td>@item.Recipient.AccountNumber</td>
                            <td class="text-center">
                                <a asp-controller="Recipient" asp-action="Delete" asp-route-id="@item.Id" a class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }

    </div>
</div>

