@using InternetBanking.Core.Application.Dtos.Account
@using InternetBanking.Core.Application.Enums
@using InternetBanking.Core.Application.Helpers
@using InternetBanking.Core.Application.ViewModels.Account
@using InternetBanking.Core.Application.ViewModels.User
@using InternetBanking.Infrastructure.Identity.Entities
@using Microsoft.AspNetCore.Http
@model UserSaveViewModel
@{
    bool editMode = Model.Id == null || Model.Id == "" ? false : true;
    int rol = Model.TypeUser;
    int count = 1;
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="row bg-light rounded p-3 mb-5">
        <section class="w-100 d-flex justify-content-between align-items-center px-5">
            <h3 class="fs-4 fw-bold fw-bolder m-2 w-100">
                Dashboard
                <span class="fs-5 fw-bold fw-bolder text-muted m-2 text-end w-100">
                    / Administración de usuarios / Nuevo usuario
                </span>
            </h3>
        </section>
    </div>

    <div class="col-5 mx-auto">
        <div class="card shadow">
            <div class="card-body">
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dimissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form asp-controller="Home" asp-action=@(editMode ? "UpdateUser" : "Register") method="post" class="row gap-3 my-3">
                    <div class="text-center my-2">
                        <h3 class="text-muted w-100">
                            @(editMode ? $"Editar Usuario" : "Crear Nuevo Usuario")
                        </h3>
                    </div>
                    <section class="col-5 mx-auto mt-2">
                        <div class="form-floating mb-3">
                            <input asp-for="IdCard" class="form-control" placeholder="Cedula" />
                            <label asp-for="IdCard"> Cedula </label>
                            <span asp-validation-for="IdCard" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-control" placeholder="Nombre" />
                            <label asp-for="FirstName"> Nombre </label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-control" placeholder="Apellido" />
                            <label asp-for="LastName" class="form-label">Apellido </label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Correo" />
                            <label asp-for="Email" class="form-label">Correo </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </section>
                    <section class="col-5 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Telefono" />
                            <label asp-for="PhoneNumber" class="form-label">Telefono </label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="UserName" class="form-control" placeholder="Usuario" />
                            <label asp-for="UserName" class="form-label"> Usuario </label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                            <label asp-for="Password" class="form-label">Contraseña </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" />
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar Contraseña </label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        @if (editMode && Model.TypeUser == 2)
                        {
                            <div class="form-floating mb-3">
                                <input asp-for="Amount" class="form-control" placeholder="Añadir Monto" />
                                <label asp-for="Amount" class="form-label">Añadir Monto </label>
                            </div>
                        }
                    </section>

                    <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />


                    <section class="col-11 mx-auto">
                        @if ((!editMode))
                        {
                            <div class="form-floating mb-3">
                                <select 
                                    asp-for="TypeUser" 
                                    value="@Model.TypeUser" 
                                    class="form-select" 
                                    id="rol-select" 
                                    aria-label="Default select example"
                                >
                                    <option selected>Seleccionar Rol de Usuario</option>

                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        if (@item.Name == "Admin")
                                        {
                                            <option value="1">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="2">@item.Name</option>
                                        }
                                        count++;
                                    }
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Amount" class="form-control" id="monto" placeholder="Monto Inicial" />
                                <label asp-for="Amount" class="form-label" id="montoLabel">Monto </label>
                            </div>
                        }
                    </section>
                    <div class="col-11 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Guardar</button>
                        <a asp-controller="Home" asp-action="UserManagement" class="btn btn-light w-100 mt-2">Volver atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>